.env
.env.*
!.env.example

node_modules/
artifacts/
cache/
coverage/
coverage.json

circuits/build/
circuits/ptau/
circuits/**/*.r1cs
circuits/**/*.wasm
circuits/**/*.sym
circuits/**/*.zkey
circuits/**/*.vkey.json

deployments/
